[Unit]
Description=Wurstmineberg Discord bot
Documentation=https://github.com/wurstmineberg/wurstminebot-discord
After=network.target

[Service]
Restart=always
ExecStart=/opt/wurstmineberg/bin/wurstminebot
ExecStop=/opt/wurstmineberg/bin/wurstminebot quit
User=wurstmineberg
Group=wurstmineberg
WorkingDirectory=/opt/git/github.com/wurstmineberg/wurstminebot-discord/master

[Install]
WantedBy=multi-user.target
